.random-number-generator-bcg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  background-size: cover;
}

.random-number-generator-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  height: 50%;
  padding: 15px;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
}
.random-number-generator-heading {
  text-align: center;
  font-family: 'Roboto';
  font-weight: bold;
  color: #0b69ff;
  font-family: 'Roboto';
}

.random-number-generator-title {
  text-align: center;
  font-family: 'Roboto';
  color: #333333;
  font-family: 'Roboto';
}

.random-number-generator-button {
  width: 105px;
  height: 37px;
  border-radius: 12px;
  background-color: #0b69ff;
  color: #ffffff;
  border: 0px;
  cursor: pointer;
}

.random-number-text {
  font-family: 'Roboto';
  font-weight: bold;
  color: #0b69ff;
  font-family: 'Roboto';
  font-size: 30px;
}
